#profile-container {
    border: 1px solid black;
}

.profile-container-description{
    border-bottom: 1px solid red;
    padding: 10px;
}

.profile-container-description > img{
    border-radius: 50%;
}