#profile-container {
    border: 1px solid black;
}

.profile-container-description{
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 1px 2px rgb(36, 36, 36);
    padding: 10px;
}

.profile-description > img{
    border-radius: 50%;
}

.profile-description{
    border-bottom: 1px solid black;
}