.alcoholForm{
    position: absolute;
    background: rgb(73, 72, 72);  
    border: 1px solid #fcd972;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
}

.form-confirmation-buttons{
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

.form-confirmation-buttons > button{
    padding: 8px;
}

.form-cancel{
    letter-spacing: 2px;
    background: red;
    border-radius: 5px;
}

.form-add{
    letter-spacing: 2px;
    background: #fcd972;
    border-radius: 5px;
}

.drink_disclaimer{
    border-bottom: 1px solid black;
}

