#main-nav-buttons{
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main-nav-container{
    position: relative;
}

.main-nav-menu{
    display: none;
}

@media only screen and (max-width: 600px){
    #main-nav-buttons{
        display: none;
    }
    .main-nav-menu{
        padding: 5px;
        display: block;
        align-content: end;
        width: 50px;
        border: 1px solid black;
        
    }
    .main-nav-hide{
        display: none;
    }
    .main-nav-show{
        padding: 5px;
        position: absolute;
        top: 25px;
        left: -10px;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr;
        width: 60vw;
        height: 75vh;
    }

    .log_in_out{
        color: #ffe494;
        padding: 5px;
        background: rgba(0, 0, 0, 0.769);
        width: 100%;
        border: 1px solid #ffe494;
        padding: 5px;
    }

    .log_in_out:hover{
        color:  #fcd972;
        background: rgba(0, 0, 0, 0.947);
        border: 1px solid #fce59f;
    }

    .nav-link{
        background: rgba(0, 0, 0, 0.769);
        width: 100%;
        border: 1px solid #ffe494;
        padding: 5px;
        color: #ffe494;
        width: 100%;
        padding: 5px;
        text-decoration: none;
    }

    .nav-link:hover{
        color:  #fcd972;
        background: rgba(0, 0, 0, 0.947);
        border: 1px solid #fce59f;
    }
}