.rec.rec-arrow {
    color: #443501;
    background: linear-gradient(#ffecb3 40%,#ffecb3 90%);  
    border-radius: 50%;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

button.rec-dot{
    background: black;
    box-shadow: 0 0 1px 3px rgb(36, 36, 36);
}

button.rec-dot_active{
    box-shadow: 0 0 1px 3px rgb(250, 223, 147);
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus{
    box-shadow: 0 0 1px 3px rgb(250, 223, 147);
}

.carousel-container{
    margin: 10px 5px;
}

.carousel-container div {
   position: relative;
}

.card-button{
    width: 125px;
    height: 125px;
    letter-spacing: 3px;
    border: 1px solid linear-gradient(to right, #fcd972, whitesmoke);;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, #000000 0%, #fcd972 100%);
    background: linear-gradient( #fcd972 22%,#fcd972 24%, #fcd972 26%, #fcd972 27%,#fcd972 40%,#fcd972 90%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #fcd972;
    color: #fcd972;
    font-family: 'Playfair Display', serif;
    position: relative;
	text-transform: uppercase;	
    font-size: 1.5rem;
    padding: 0;
	margin: 0;
    font-weight: 400;
}