.drink-detail-container{
    text-align: left;
    cursor: pointer;
}

.beer-details{
   border-bottom: 1px solid black;
}
.cocktail-details{
    border-bottom: 1px solid black;
 }
 .wine-details{
    border-bottom: 1px solid black;
 }
 .liquor-details{
    border-bottom: 1px solid black;
 }
 .binge-details{
    border-bottom: 1px solid black;
 }